@font-face {
	font-family:'Montserrat';
	src: url('fonts copy/Montserrat-ExtraLight.otf');
}

@font-face {
	font-family:'Sorts Mill Goudy';
	src: url('fonts copy/GoudyStM.otf');
}

@font-face {
	font-family:'Sorts Mill Goudy Italic';
	src: url('fonts copy/GoudyStM-Italic.otf');
}

h1 span{
	font-size: 40pt;
}

#welcome {
	font-family: 'Sorts Mill Goudy';
	text-transform: uppercase;
	font-size: 30pt;
	line-height: 0.9;
}

.welcome-lines {
	margin: 3px 0;
	border: 0;
	height: 2px;
	background-color: black;

}

h1 {
	font-size: 20pt;
}

h2 {
	font-size: 12pt;
	font-family: 'Sorts Mill Goudy Italic';
	color: #797979;
	font-style: italic;
}

#picture {
	width:44%;
	height:81%;
	display: block;
}

.nameTag {
	position: absolute;
    top: 35%;
    left: 63%;
    font-family: 'Montserrat';
    color: #204060;
    font-size: 92px;
    transform: translate(-50%, -50%);

}

a:hover{
	color: pink;
}

a:link{
	text-decoration: none;
}

.navbar {
	font-style: bold;
	font-size: 24px;
	font-family: 'Montserrat';	
}

.navbar-nav{
	float: none;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.navbar-nav > li {
	display: inline-block;
	float: none;
}

.description1{
	position: absolute;
    top: 48%;
    left: 65%;
    font-family: 'Montserrat';
    color: #476b6b;
    font-size: 21px;
    transform: translate(-50%, -50%);
}

.description2{
	position: absolute;
    top: 52%;
    left: 65%;
    font-family: 'Montserrat';
    color: #476b6b;
    font-size: 22px;
    transform: translate(-50%, -50%);
}
